---
interface Props {
	title?: string;
}
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const socialImageURL = new URL("../assets/banner.png", Astro.site);
const { title = "Lucio Morales - Dev" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="icon" href="/favicon.png" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
			rel="stylesheet"
		/>
		<meta property="og:image" content={socialImageURL} />

		<meta property="og:title" content="Portfolio - Lucio Morales" />
		<meta
			name="og:description"
			content="Portfolio desarrollo de sitios web para profesionales y negocios por Lucio Morales, estudiante de Ingenieria de Software y desarrollador web"
		/>

		<meta
			name="description"
			content="Portfolio desarrollo de sitios web para profesionales y negocios por Lucio Morales, estudiante de Ingenieria de Software y desarrollador web"
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@lucio_develop" />
		<meta name="twitter:creator" content="@lucio_develop" />
		<meta name="twitter:description" content="Portfolio - Lucio Morales" />

		<ClientRouter />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--font-titles: "Playfair Display", serif;
		--font-body: "Lato", sans-serif;
		--max-width: 1200px;
		--container-padding: 2rem;
		--bg-color: #eaf1ff;
		--text-color: #141414;
		--accent-color: #4281e0;
	}
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		font-family: var(--font-body);
		font-weight: 400; /* Peso normal de lectura */
		line-height: 1.6;
		color: var(--text-color);
		scroll-behavior: smooth;
	}
	body {
		min-height: 100vh;
	}
	section {
		padding: 4rem var(--container-padding);
		/* max-width: var(--max-width); */
		margin: 0 auto; /* Centra el contenido */
	}

	h1,
	h2,
	h3,
	h4,
	.title-font {
		font-family: var(--font-titles);
		font-weight: 700;
		line-height: 1.2;
		text-wrap: balance;
	}
</style>
